p{
    background-color: rgb(46, 54, 54);
}
body{
    color: rgb(213, 213, 226); 
    background-image: url('0 (4).jpg');
    background-size: 560px;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
     background-size: cover;
     

} 